*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgba(127, 63, 28, 0.77);
}
.nav{
    background-color: #795341;

}
.about{
    display: grid;
    grid-template-columns: 60% 40%;
}
.left-{
    margin: 20px;
    color: white;
}
.left- h1{
    margin: 10px;
}
.left- h4{
    margin: 10px;
}
.right-{
    overflow-y: hidden;
    overflow-x: hidden;
    background-size: cover;
    border-radius: 20px;
    background-image: url(../assets/Caffeine_share.jpg);
    width: 400px;
}