*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-{
    background:
    linear-gradient(to right bottom, 
   rgba(31, 33, 34, 0.8),
   rgba(40, 40, 40, 0.8)),
    url(../assets/Caffeine_share.jpg);
    background-size: cover;
    height: 70vh;
}

.menu-section_{
    overflow-y: hidden;
    background: url(../assets/brown.jpg);
    background-repeat: no-repeat;
    height: 250vh;
    background-size: cover;
}

@media only screen and (max-width: 600px) {
    .menu{
        grid-template-columns: 1fr;
    }
    .menu-section_{
        height: 400rem;
        background-repeat: no-repeat;
        background-size: cover;
    }
  }